@import 'tailwindcss';

@config '../../tailwind.config.js';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* Regular (light) mode */
.landing-bg::before {
    content: "";
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(310.1deg, #000000 63%, #4b4b00 100%),
                linear-gradient(141.85deg, #1a1a00 0%, #4b4b00 19.1%, #000000 46%),
                linear-gradient(299.91deg, rgba(255, 255, 255, 0) 60.87%, #f5ab35 100%),
                linear-gradient(325.39deg, #4b4b00 12.162162162162163%, #f5c542 100%, #2d2d00 30%),
                linear-gradient(310.1deg, #f5ab35 1%, #ffffff88 52%);
    background-blend-mode: screen, screen, normal, hard-light, normal;
    filter: brightness(1.15) contrast(1) saturate(1);
}

/* Dark mode */
.dark .landing-bg::before {
    content: "";
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(310.1deg, #000000 63%, #4b4b00 100%),
                linear-gradient(141.85deg, #1a1a00 0%, #4b4b00 19.1%, #000000 46%),
                linear-gradient(299.91deg, rgba(255, 255, 255, 0) 60.87%, #f5ab35 100%),
                linear-gradient(325.39deg, #4b4b00 12.162162162162163%, #f5c542 100%, #2d2d00 30%),
                linear-gradient(310.1deg, #f5ab35 1%, #000 52%);
    background-blend-mode: screen, screen, normal, hard-light, normal;
    filter: brightness(1) contrast(1.5) saturate(0.8);
}

.progress {
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 300px;
}

.progress-done {
	background: linear-gradient(to left, #FCD34D, #F59E0B, #EF4444);
	box-shadow-sm: 0 3px 3px -5px #EF4444, 0 2px 5px #EF4444;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 75; 
	transition: 2s ease 0.3s;
}

.progress-done:hover {
	opacity: 100;
}